<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celestial Architect - Planet Debug</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div>
    <div class="image-container">
      <img src="../_debug_top_left.png" alt="Top Left Quadrant" class="top-quadrants">
      <!-- <div class="top-quadrants">
        <img src="../_debug_top_left.png" alt="Top Left Quadrant" class="top-left">
        <img src="../_debug_top_right.png" alt="Top Right Quadrant" class="top-right">
      </div>
      <div class="bottom-quadrants">
        <img src="../_debug_bottom_left.png" alt="Bottom Left Quadrant" class="bottom-left">
        <img src="../_debug_bottom_right.png" alt="Bottom Right Quadrant" class="bottom-right">
      </div> -->
    </div>
    <!-- <section class="color-labels-section">
      <div class="flex-row">
        <div class="color-item">
          <h6>Ocean</h6>
          <div class="color-box" style="background-color: var(--ocean);"></div>
        </div>
        <div class="color-item">
          <h6>Land</h6>
          <div class="color-box" style="background-color: var(--land);"></div>
        </div>
        <div class="color-item">
          <h6>Overriding</h6>
          <div class="color-box" style="background-color: var(--overriding);"></div>
        </div>
        <div class="color-item">
          <h6>Subducting</h6>
          <div class="color-box" style="background-color: var(--subducting);"></div>
        </div>
        <div class="color-item">
          <h6>Collisioning</h6>
          <div class="color-box" style="background-color: var(--collisioning);"></div>
        </div>
        <div class="color-item">
          <h6>Separating</h6>
          <div class="color-box" style="background-color: var(--separation);"></div>
        </div>
        <div class="color-item">
          <h6>Sliding</h6>
          <div class="color-box" style="background-color: var(--sliding);"></div>
        </div>
      </div>
      <div class="flex-row">
        <h3>Color Labels</h3>
      </div>
    </section> -->
  </div>
</body>

</html>
